---
import Layout from "../layouts/Layout.astro";
import { db, Proyect } from 'astro:db';
import ProCard from '../components/ProCard.astro';
---

<Layout title="jasdj">
  <main class="mx-auto max-w-3xl px-5 mb-5 flex flex-col gap-10">
    <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-2 sm:flex-row items-center justify-center ">
    </div>
  </main>
</Layout>

