---
interface Props {
  href: string
  id: string
}

const { id, href } = Astro.props;
---

<a href={href} target="_blank">
  <button id={id} type="button" class=`text-white bg-purple-600 hover:bg-purple-700 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-3 py-2 text-center inline-flex items-center me-2 before:ease relative overflow-hidden shadow-2xl transition-all before:absolute before:right-0 before:top-0 before:h-12 before:w-6 before:translate-x-12 before:rotate-6 before:bg-white before:opacity-10 before:duration-700 hover:before:-translate-x-40`>
    <slot/>
  </button>	
</a>
