---
---

<header class="flex items-center justify-center">
  <img class="m-12 rounded-full max-w-[150px] max-h-[150px]" src="https://i.pinimg.com/564x/20/64/f5/2064f5a574a60b919a4da6812fa91769.jpg">
  <div>
    <h1 class="text-5xl font-bold text-gray-900 dark:text-white sm:text pb-2.5">CodingGaby</h1>
    <p class="text-base text-gray-900 dark:text-white sm:text pb-2.5">Do ut officia exercitation magna cupidatat aliqua amet et ut exercitation.</p>
    <nav>
      <a href="../../CV.pdf" download="CV-GabrielOsorio">
        <button type="button" class="text-white bg-indigo-500 hover:bg-indigo-600 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm px-3 py-2 text-center inline-flex items-center me-2 dark:bg-indigo-500 dark:hover:bg-indigo-600 dark:focus:ring-indigo-700">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" /></svg>
          Resume
        </button>	
      </a>
    </nav>
  </div>
</header>