---
import { db, Proyect } from 'astro:db';
import ProCard from './ProCard.astro';
import Header from "./Header.astro";



const proyects = await db.select().from(Proyect)
console.log(proyects)
---
<section class="w-full">
  <Header>
    Proyects 🛠️
  </Header>
  <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-2 sm:flex-row items-center justify-center ">
    {
      proyects.map((proy) => (
        <ProCard 
          name={proy.name}
          description={proy.desc}
          homepage={proy.homePage}
          imgSrc={proy.img}
        />
      ))
    }
  </div>
</section>