---
import { type GitHubResponse } from '../types/api'
import ProCard from './ProCard.astro';

const res = await fetch("https://api.github.com/users/CodingGaby/repos?sort=pushed&direction=desc", {
  method: "GET",
  headers: {
    "Content-Type": "application/json"
  }
});

const data: GitHubResponse[] = await res.json();

// Filtrar los repositorios con homepage diferente de '' o null
const filteredRepos = data.filter(repo => repo.homepage !== '' && repo.homepage !== null);
---

<div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-2 sm:flex-row items-center ">
  {
    filteredRepos.map((repos) => (
      <ProCard 
        name={repos.name}
        description={repos.description}
        homepage={repos.homepage}
      />
    ))
  }
</div>