---
import { Image } from 'astro:assets';
import ResumeIcon from '../icons/ResumeIcon.astro';
import Github from '../icons/Github.astro';
import Button from './Button.astro';
---

<section class="flex flex-col sm:flex-row items-center gap-5">
  <div class="relative w-44 h-44 bg-gray-700/60 border-8 border-gray-900/80 shadow-lg rounded-full overflow-hidden">
    <span>
      <Image
        width="180" height="180"
        loading="eager" 
        class="rounded-full drop-shadow-2xl" 
        src="https://i.pinimg.com/564x/20/64/f5/2064f5a574a60b919a4da6812fa91769.jpg"
        alt="Animated me"  
      />
    </span>
  </div>
  <div class="flex flex-col items-center sm:items-start gap-3">
    <div class="flex flex-col items-left gap-2">
      <h1 class="text-2xl sm:text-4xl text-center sm:text-left font-bold text-slate-100 ">CodingGaby</h1>
      <p 
        class="text-slate-300 text-sm text-center sm:text-lg max-w-xl rounded-2xl">
        Seeking Opportunities to Contribute to the Digital World
      </p>
      <div class="flex gap-3">
        <Button id="Resume" href="/CV.pdf" color='purple'>
          <ResumeIcon/>
          Resume
        </Button>
        <Button id="GitHub" href="https://github.com/CodingGaby" color='gray'>
          <Github/>
          GitHub
        </Button>
      </div>
    </div>
  </div>
</section>
<hr class="border border-solid border-gray-300 dark:border-gray-600 rounded-md">
